{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-topic" href="#">{{ post.topic }}</a></h2>
            <div class="article-metadata">
              <p>{{ post.author }}</p>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}